# 실제 비밀번호를 작성하는 파일 예시입니다.
# 이 파일을 복사하여 같은 폴더에 'application-secret.yml'로 저장하시면 됩니다.
# (*.gitignore에 등록되어 있으므로 application-secret.yml은 Git에 절대 올라가지 않습니다)
spring:
  mail:
    username: your_email@gmail.com
    password: your_16_digit_app_password
